@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Orbitron&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color:rgba(37, 37, 37, 1);
    color: white;
    font-family: 'Catamaran', sans-serif;
}
.wapper{
    position: relative;
}
.header{
    position:absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 1776px;
}
.logo{
    margin: 0 1205px 0px 65px;
    font-size: 2em;
}
.logo p{
    font-size: 34px;
    font-weight: 900;
}
.nav{ 
    display: flex;
    margin: 0 0px 0px 0px;
    line-height: 6em;
    height: 56px;
}
.nav a{
    margin-right: 60px;
    text-decoration: none;
    color: white;

}
.nav a:hover{
    font-weight: 900;
    border-bottom: solid 1.5px;
    
}
.header2{
    position:absolute;
    top: 680px;
}
.imgicon{
    margin: 0 0px 0px 25px;
}
.imgicon img{
    margin:0 0 45px 0;
}
.banner{
    display: flex;
    max-width: 1700px;
    justify-content: space-between;
    margin: 0px 0px 0 162px;
    align-items: center;
    position: absolute;
    top: 50px;
}
.fontbannertext{
    font-size: 2em;
}
.fontbannertext1{
    font-size: 1.6em;
}
#fontbannertext2{
    font-family: 'Caudex', serif;
    font-weight: 700;
    font-size: 2em;
}
#fontbannertext2 span{
    text-shadow: 2px 2px blue, -4px -1px #a99c9e;
}
.bannertext2 span{
    box-shadow: 5px 5px blue,;
}
.bannertext{
    margin: 0px 215px 210px 0px;
    width: 220px;
}
.bannertext2_btn{
    margin: 0px 70px 365px 270px;
    width: 497px;
}
.bannertext1 p,.bannertext2 p,.bannertext3 p{
    margin:0;
}
.bannertext2,.bannertext3{
        font-weight: 600;
        font-size: 17px;
        opacity: 0.18;
}
.bannertext1{
    font-weight: 600;
    font-size: 17px;
}
.bannertext1 span,#banner2text_p{
    opacity: 0.68;
}
.aside1text1_1{
    opacity: 0.68;
    font-weight: 500;
    font-size: 17.025px;
}

.bannertext1,.bannertext2,.bannertext3{
    margin: 0 0 30px 0px;
}
#btn_shadow{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 7px 25px 7px 25px;
    background: white;
    box-shadow: 5px 5px blue,-5px -5px #a99c9e;
    margin-right: 25px;
    }
#btn_nomal{
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 8px 20px 9px 20px;
}
#btn_nomal:hover{
    background-color: rgb(163 153 113 / 80%);
    transition: 0.5s;
}
.aside{
    position: absolute;
    top: 715px;
    left: 165px;
    background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
    backdrop-filter: blur(20.2917px);
    width: 1675px;
}
.asidetext{
    margin-top: 20px;
}
.aside1_aside1img{
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    
}
.aside1text{
    display: flex;
    max-width: 1440px;
    margin: 0 325px 0px 0px;
}
.aside1text1{
    margin: 0 80px 0 0;
    width: 145px;
}
.aside1text1 p{
    margin-top: 0;
    margin-bottom: 0;
}
.asidetext1{
    font-family: 'Caudex', serif;
    font-size: 22.7px;
    font-weight: 700;
    letter-spacing: 0.05em;          
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 80%);
}
.aside1text p{
    font-family: 'Caudex', serif;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 17.025px;
}

@media screen and (max-width: 600px) {
    .wapper{
        width: 1324px;
    }
    .header{
        width: 1000px;
    }
    .logo{
        margin: 0px 1014px 0px 65px;
    }
    .logoheader{
        display: none;
    }
    .banner{
        margin: 0px 0px 0 70px;
    }
    .bannertext{
        margin: 0px 80px 230px 0px;
    }
    .bannertext2_btn{
        margin: 0px 70px 365px 120px;
    }
    
    .aside{
        left: 70px;
        width: 1480px;
    }
    .aside1text {
        margin: 0px 152px 0px 0px;
    }
    .aside1text1 {
        margin: 0px 120px 0 0;
    }
    .imgicon{
        margin: 0 0px 0px 10px;
    }
}